@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');




h1 {
  font-family: 'Bungee Shade', cursive;
  padding: 20px 50px;
  text-align: center;
}

body {
  background-color: #7FB3D5;
}

p {
  font-family: 'Yatra One', cursive;
  font-size: 17px;
  text-align: center;
}

.stats, .container {
  display: none;
}

#endMessage {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  text-align: center;
}

#message {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  text-align: center;
}

#getGames {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  text-align: center;
  padding: 10px 30px;
}

.sign-up-container {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  padding: 10px 30px;
  text-align: center;
}

.sign-in-container {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  padding: 10px 30px;
  text-align: center;
}

#change-password {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  display: none;
  padding: 20px 50px;
  text-align: center;
}

#sign-out {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  display: none;
  padding: 10px 30px;
  text-align: center;
}

#create {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  display: none;
  padding: 10px 30px;
  text-align: center;
}

div.box {
  background: grey;
}

.box {
  font-family: 'Caveat', cursive;
  font-size: 60px;
  text-align: center;
}

.col-4 {
  border: 2px solid black;
  height: 100px;
  width: 500px;
}

div.col-4:hover {
  background-color: red;
}
