@import '~bootstrap/scss/bootstrap';

h1 {
  font-style: italic;
  padding: 20px 50px;
  text-align: center;
}

.col-4 {
  border: 2px solid black;
  height: 100px;
  width: 500px;
}

div.col-4:hover {
  background-color: red;
}
