@import '~bootstrap/scss/bootstrap';

h1 {
  font-style: italic;
  padding: 20px 50px;
  text-align: center;
}

body {
  background-color: #7FB3D5;
}

.stats, .container {
  display: none;
}

#endMessage {
  text-align: center;
}

#message {
  text-align: center;
}

#getGames {
  text-align: center;
  padding: 10px 30px;
}

.sign-up-container {
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
}

.sign-in-container {
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
}

#change-password {
  display: none;
  padding: 20px 50px;
  text-align: center;
}

#sign-out {
  display: none;
  padding: 10px 30px;
  text-align: center;
}

#create {
  display: none;
  padding: 10px 30px;
  text-align: center;
}

div.box {
  background: grey;
}

.col-4 {
  border: 2px solid white;
  height: 100px;
  width: 500px;
}

div.col-4:hover {
  background-color: red;
}
